@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: hsl(235, 18%, 26%);
}

body {
    background-color: hsl(235, 18%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* General styles section */

p, li {
    font-size: 0.9rem;
    font-weight: 400;
}

.button-tr {
    border: 1px solid transparent;
    padding: 14px;
    border-radius: 8px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.6s ease-out;
}
.button-tr:hover {
    background-color: hsl(4, 100%, 67%);
}

/*------------------------------------------------------------*/

.sing-up-container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    width: 740px;
    height: 512px;
    padding: 20px;
    border-radius: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 54%;
    margin-right: 28px;
}

.right {
    width: 46%;
}
.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.advertisement {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 26px;
}
.advertisement h2 {
    font-size: 2.9rem;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}

.list {
    list-style: none;
    display: grid;
    grid-template-columns: 16px auto;
    align-items: center;
    gap: 8px;
}

.icon {
    width: 16px;
}

.confirm-email {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 160px;
    padding: 0 20px;
}
.confirm-email label {
    color: hsl(234, 29%, 20%);
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 6px;
}
.confirm-email input {
    padding: 14px;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 8px;
}
.confirm-email input:focus {
    border-color: hsl(234, 29%, 20%);
    outline: none;
}

.successful-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 380px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 40px;
}
.successful-card img {
    width: 48px;
}
.successful-card h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
}
.successful-card button {
    padding: 14px;
    border-radius: 8px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}

.dissapear {
    display: none;
}

@media(max-width: 740px) {
    .sing-up-container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        flex-direction: column-reverse;
        padding: 0;
    }
    .left {
        width: 100%;
        margin-top: 40px;
    }
    .right {
        width: 100%;
    }
    .right img {
        content: url(./assets/images/illustration-sign-up-mobile.svg);
    }
    .advertisement {
        gap: 16px;
    }
}